In [267]:
import numpy as np
import pandas as pd

In [268]:
data = pd.read_excel(r'seatplanning2079.xlsx')

In [269]:
data

,Unnamed: 0,Registration No,Year,School,Program,First Name,Middle Name,Last Name,Gender,DOB,Father's Name,Mother's Name,ExamRollNo,Registered Subject
0,1,803210020001,2080,2102,Grade-11 (General),AASHUTOSH,NaN,NEPALI,MALE,2064-03-19 00:00:00,KEDAR NEPALI,AMIKA NEPALI,12100089,0051; 1051; 2111; 3331; 0011; 0031
1,2,803210020002,2080,2102,Grade-11 (General),ABHI,NaN,MAJHI,MALE,2063-06-17 00:00:00,PREM MAJHI,LAXMI MAJHI,12100090,0051; 1051; 2111; 4411; 0011; 0031
2,3,803210020003,2080,2102,Grade-11 (General),ABHISHEK,NaN,SUBEDI,MALE,2062-06-06 00:00:00,BHOJ RAJ SUBEDI,ANJU KUMARI SUBEDI GHIMIRE,12100091,0051; 1031; 3031; 4271; 0011; 0031
3,4,803210020004,2080,2102,Grade-11 (General),ABHISHEK,NaN,TAMANG,MALE,2062-04-29 00:00:00,KRISHNA BAHADUR TAMANG,SIRJANA TAMANG,12100092,0051; 1051; 2111; 4411; 0011; 0031
4,5,803210020005,2080,2102,Grade-11 (General),ABIJAL,NaN,SUBEDI,MALE,2064-01-01 00:00:00,BHOJ RAJ SUBEDI,ANJU KUMARI SUBEDI GHIMIRE,12100093,0071; 1011; 3011; 4271; 0011; 0031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,265,803210020265,2080,2102,Grade-11 (General),URMILA,NaN,THAPA MAGAR,FEMALE,2063-03-02 00:00:00,MAN BAHADUR THAPA MAGAR,MAYA THAPA MAGAR,12100353,0051; 1031; 2151; 3031; 0011; 0031
265,266,803210020266,2080,2102,Grade-11 (General),UTSAB,NaN,ALE MAGAR,MALE,2063-11-20 00:00:00,SHAMBHU BAHADUR ALE MAGAR,URMILA ALE,12100354,0071; 1011; 2011; 3011; 0011; 0031
266,267,803210020267,2080,2102,Grade-11 (General),YALIN,NaN,SUNAM,MALE,2061-05-13 00:00:00,SHER BAHADUR DAMAI,SITA DAMAI,12100355,0051; 1051; 2111; 4411; 0011; 0031
267,268,803210020268,2080,2102,Grade-11 (General),YAMUNA,NaN,SHRESTHA,FEMALE,2062-03-15 00:00:00,BHALAK BAHADUR SHRESTHA,NIRMALA SHRESTHA,12100356,0051; 1151; 2231; 3311; 0011; 0031
268,269,803210020269,2080,2102,Grade-11 (General),YUDDHA,NARAYAN,SHRESTHA,MALE,2060-11-30 00:00:00,DURGA NARAYAN SHRESTHA,BINDA MAYA SHRESTHA,12100357,0051; 1051; 2111; 4411; 0011; 0031

In [270]:
data['Full Name'] = data['First Name'].str.cat(data['Middle Name'], na_rep='').str.cat(data['Last Name'], sep=' ')

In [271]:
data['Full Name']

0            AASHUTOSH NEPALI
1                  ABHI MAJHI
2             ABHISHEK SUBEDI
3             ABHISHEK TAMANG
4               ABIJAL SUBEDI
                ...
264        URMILA THAPA MAGAR
265           UTSAB ALE MAGAR
266               YALIN SUNAM
267           YAMUNA SHRESTHA
268    YUDDHANARAYAN SHRESTHA
Name: Full Name, Length: 269, dtype: object

In [272]:
subjects = data['Registered Subject'].str.split('; ')

In [273]:
subjects

0      [ 0051, 1051, 2111, 3331, 0011, 0031]
1      [ 0051, 1051, 2111, 4411, 0011, 0031]
2      [ 0051, 1031, 3031, 4271, 0011, 0031]
3      [ 0051, 1051, 2111, 4411, 0011, 0031]
4      [ 0071, 1011, 3011, 4271, 0011, 0031]
                       ...
264    [ 0051, 1031, 2151, 3031, 0011, 0031]
265    [ 0071, 1011, 2011, 3011, 0011, 0031]
266    [ 0051, 1051, 2111, 4411, 0011, 0031]
267    [ 0051, 1151, 2231, 3311, 0011, 0031]
268    [ 0051, 1051, 2111, 4411, 0011, 0031]
Name: Registered Subject, Length: 269, dtype: object

In [274]:
for i in range(0,6):
    data[f'sub{i+1}'] = data['Registered Subject'].str.split(';').str[i]

In [275]:
data

,Unnamed: 0,Registration No,Year,School,Program,First Name,Middle Name,Last Name,Gender,DOB,...,Mother's Name,ExamRollNo,Registered Subject,Full Name,sub1,sub2,sub3,sub4,sub5,sub6
0,1,803210020001,2080,2102,Grade-11 (General),AASHUTOSH,NaN,NEPALI,MALE,2064-03-19 00:00:00,...,AMIKA NEPALI,12100089,0051; 1051; 2111; 3331; 0011; 0031,AASHUTOSH NEPALI,0051,1051,2111,3331,0011,0031
1,2,803210020002,2080,2102,Grade-11 (General),ABHI,NaN,MAJHI,MALE,2063-06-17 00:00:00,...,LAXMI MAJHI,12100090,0051; 1051; 2111; 4411; 0011; 0031,ABHI MAJHI,0051,1051,2111,4411,0011,0031
2,3,803210020003,2080,2102,Grade-11 (General),ABHISHEK,NaN,SUBEDI,MALE,2062-06-06 00:00:00,...,ANJU KUMARI SUBEDI GHIMIRE,12100091,0051; 1031; 3031; 4271; 0011; 0031,ABHISHEK SUBEDI,0051,1031,3031,4271,0011,0031
3,4,803210020004,2080,2102,Grade-11 (General),ABHISHEK,NaN,TAMANG,MALE,2062-04-29 00:00:00,...,SIRJANA TAMANG,12100092,0051; 1051; 2111; 4411; 0011; 0031,ABHISHEK TAMANG,0051,1051,2111,4411,0011,0031
4,5,803210020005,2080,2102,Grade-11 (General),ABIJAL,NaN,SUBEDI,MALE,2064-01-01 00:00:00,...,ANJU KUMARI SUBEDI GHIMIRE,12100093,0071; 1011; 3011; 4271; 0011; 0031,ABIJAL SUBEDI,0071,1011,3011,4271,0011,0031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,265,803210020265,2080,2102,Grade-11 (General),URMILA,NaN,THAPA MAGAR,FEMALE,2063-03-02 00:00:00,...,MAYA THAPA MAGAR,12100353,0051; 1031; 2151; 3031; 0011; 0031,URMILA THAPA MAGAR,0051,1031,2151,3031,0011,0031
265,266,803210020266,2080,2102,Grade-11 (General),UTSAB,NaN,ALE MAGAR,MALE,2063-11-20 00:00:00,...,URMILA ALE,12100354,0071; 1011; 2011; 3011; 0011; 0031,UTSAB ALE MAGAR,0071,1011,2011,3011,0011,0031
266,267,803210020267,2080,2102,Grade-11 (General),YALIN,NaN,SUNAM,MALE,2061-05-13 00:00:00,...,SITA DAMAI,12100355,0051; 1051; 2111; 4411; 0011; 0031,YALIN SUNAM,0051,1051,2111,4411,0011,0031
267,268,803210020268,2080,2102,Grade-11 (General),YAMUNA,NaN,SHRESTHA,FEMALE,2062-03-15 00:00:00,...,NIRMALA SHRESTHA,12100356,0051; 1151; 2231; 3311; 0011; 0031,YAMUNA SHRESTHA,0051,1151,2231,3311,0011,0031
268,269,803210020269,2080,2102,Grade-11 (General),YUDDHA,NARAYAN,SHRESTHA,MALE,2060-11-30 00:00:00,...,BINDA MAYA SHRESTHA,12100357,0051; 1051; 2111; 4411; 0011; 0031,YUDDHANARAYAN SHRESTHA,0051,1051,2111,4411,0011,0031

In [276]:
subcode = pd.read_csv(r'sub.csv')

In [277]:
subcode

    scode                        subject
0       1                         Nepali
1       3                        English
2       5  Social Studies and Life Skill
3       7                    Mathematics
4     101                        Physics
..    ...                            ...
81    353                         French
82    355                         Hebrew
83    357                         Arabic
84    359                       Sanskrit
85    361                   Applied Arts

[86 rows x 2 columns]

In [278]:
for i in range(1, 7):
    data[f'sub{i}'] = data[f'sub{i}'].str[:4]
    data[f'sub{i}'] = data[f'sub{i}'].astype(int)

In [279]:
data

,Unnamed: 0,Registration No,Year,School,Program,First Name,Middle Name,Last Name,Gender,DOB,...,Mother's Name,ExamRollNo,Registered Subject,Full Name,sub1,sub2,sub3,sub4,sub5,sub6
0,1,803210020001,2080,2102,Grade-11 (General),AASHUTOSH,NaN,NEPALI,MALE,2064-03-19 00:00:00,...,AMIKA NEPALI,12100089,0051; 1051; 2111; 3331; 0011; 0031,AASHUTOSH NEPALI,5,105,211,333,1,3
1,2,803210020002,2080,2102,Grade-11 (General),ABHI,NaN,MAJHI,MALE,2063-06-17 00:00:00,...,LAXMI MAJHI,12100090,0051; 1051; 2111; 4411; 0011; 0031,ABHI MAJHI,5,105,211,441,1,3
2,3,803210020003,2080,2102,Grade-11 (General),ABHISHEK,NaN,SUBEDI,MALE,2062-06-06 00:00:00,...,ANJU KUMARI SUBEDI GHIMIRE,12100091,0051; 1031; 3031; 4271; 0011; 0031,ABHISHEK SUBEDI,5,103,303,427,1,3
3,4,803210020004,2080,2102,Grade-11 (General),ABHISHEK,NaN,TAMANG,MALE,2062-04-29 00:00:00,...,SIRJANA TAMANG,12100092,0051; 1051; 2111; 4411; 0011; 0031,ABHISHEK TAMANG,5,105,211,441,1,3
4,5,803210020005,2080,2102,Grade-11 (General),ABIJAL,NaN,SUBEDI,MALE,2064-01-01 00:00:00,...,ANJU KUMARI SUBEDI GHIMIRE,12100093,0071; 1011; 3011; 4271; 0011; 0031,ABIJAL SUBEDI,7,101,301,427,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,265,803210020265,2080,2102,Grade-11 (General),URMILA,NaN,THAPA MAGAR,FEMALE,2063-03-02 00:00:00,...,MAYA THAPA MAGAR,12100353,0051; 1031; 2151; 3031; 0011; 0031,URMILA THAPA MAGAR,5,103,215,303,1,3
265,266,803210020266,2080,2102,Grade-11 (General),UTSAB,NaN,ALE MAGAR,MALE,2063-11-20 00:00:00,...,URMILA ALE,12100354,0071; 1011; 2011; 3011; 0011; 0031,UTSAB ALE MAGAR,7,101,201,301,1,3
266,267,803210020267,2080,2102,Grade-11 (General),YALIN,NaN,SUNAM,MALE,2061-05-13 00:00:00,...,SITA DAMAI,12100355,0051; 1051; 2111; 4411; 0011; 0031,YALIN SUNAM,5,105,211,441,1,3
267,268,803210020268,2080,2102,Grade-11 (General),YAMUNA,NaN,SHRESTHA,FEMALE,2062-03-15 00:00:00,...,NIRMALA SHRESTHA,12100356,0051; 1151; 2231; 3311; 0011; 0031,YAMUNA SHRESTHA,5,115,223,331,1,3
268,269,803210020269,2080,2102,Grade-11 (General),YUDDHA,NARAYAN,SHRESTHA,MALE,2060-11-30 00:00:00,...,BINDA MAYA SHRESTHA,12100357,0051; 1051; 2111; 4411; 0011; 0031,YUDDHANARAYAN SHRESTHA,5,105,211,441,1,3

In [280]:

for i in range(1,7):
    data[f'sub{i}'] = data[f'sub{i}'].map(subcode.set_index('scode')['subject'])

In [281]:
data

,Unnamed: 0,Registration No,Year,School,Program,First Name,Middle Name,Last Name,Gender,DOB,...,Mother's Name,ExamRollNo,Registered Subject,Full Name,sub1,sub2,sub3,sub4,sub5,sub6
0,1,803210020001,2080,2102,Grade-11 (General),AASHUTOSH,NaN,NEPALI,MALE,2064-03-19 00:00:00,...,AMIKA NEPALI,12100089,0051; 1051; 2111; 3331; 0011; 0031,AASHUTOSH NEPALI,Social Studies and Life Skill,Rural Development,Sociology,English,Nepali,English
1,2,803210020002,2080,2102,Grade-11 (General),ABHI,NaN,MAJHI,MALE,2063-06-17 00:00:00,...,LAXMI MAJHI,12100090,0051; 1051; 2111; 4411; 0011; 0031,ABHI MAJHI,Social Studies and Life Skill,Rural Development,Sociology,Mass Communication,Nepali,English
2,3,803210020003,2080,2102,Grade-11 (General),ABHISHEK,NaN,SUBEDI,MALE,2062-06-06 00:00:00,...,ANJU KUMARI SUBEDI GHIMIRE,12100091,0051; 1031; 3031; 4271; 0011; 0031,ABHISHEK SUBEDI,Social Studies and Life Skill,Accounting,Economics,Computer Science,Nepali,English
3,4,803210020004,2080,2102,Grade-11 (General),ABHISHEK,NaN,TAMANG,MALE,2062-04-29 00:00:00,...,SIRJANA TAMANG,12100092,0051; 1051; 2111; 4411; 0011; 0031,ABHISHEK TAMANG,Social Studies and Life Skill,Rural Development,Sociology,Mass Communication,Nepali,English
4,5,803210020005,2080,2102,Grade-11 (General),ABIJAL,NaN,SUBEDI,MALE,2064-01-01 00:00:00,...,ANJU KUMARI SUBEDI GHIMIRE,12100093,0071; 1011; 3011; 4271; 0011; 0031,ABIJAL SUBEDI,Mathematics,Physics,Chemistry,Computer Science,Nepali,English
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,265,803210020265,2080,2102,Grade-11 (General),URMILA,NaN,THAPA MAGAR,FEMALE,2063-03-02 00:00:00,...,MAYA THAPA MAGAR,12100353,0051; 1031; 2151; 3031; 0011; 0031,URMILA THAPA MAGAR,Social Studies and Life Skill,Accounting,Business Studies,Economics,Nepali,English
265,266,803210020266,2080,2102,Grade-11 (General),UTSAB,NaN,ALE MAGAR,MALE,2063-11-20 00:00:00,...,URMILA ALE,12100354,0071; 1011; 2011; 3011; 0011; 0031,UTSAB ALE MAGAR,Mathematics,Physics,Biology,Chemistry,Nepali,English
266,267,803210020267,2080,2102,Grade-11 (General),YALIN,NaN,SUNAM,MALE,2061-05-13 00:00:00,...,SITA DAMAI,12100355,0051; 1051; 2111; 4411; 0011; 0031,YALIN SUNAM,Social Studies and Life Skill,Rural Development,Sociology,Mass Communication,Nepali,English
267,268,803210020268,2080,2102,Grade-11 (General),YAMUNA,NaN,SHRESTHA,FEMALE,2062-03-15 00:00:00,...,NIRMALA SHRESTHA,12100356,0051; 1151; 2231; 3311; 0011; 0031,YAMUNA SHRESTHA,Social Studies and Life Skill,Child Development and Learning,Population Studies,Nepali,Nepali,English
268,269,803210020269,2080,2102,Grade-11 (General),YUDDHA,NARAYAN,SHRESTHA,MALE,2060-11-30 00:00:00,...,BINDA MAYA SHRESTHA,12100357,0051; 1051; 2111; 4411; 0011; 0031,YUDDHANARAYAN SHRESTHA,Social Studies and Life Skill,Rural Development,Sociology,Mass Communication,Nepali,English